<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVJJmqd8jhlCeMBlapT2SeAPHjRn78qmI</string>
	<key>GCM_SENDER_ID</key>
	<string>21989925194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>a.RokShoe</string>
	<key>PROJECT_ID</key>
	<string>rokshoe-fadf9</string>
	<key>STORAGE_BUCKET</key>
	<string>rokshoe-fadf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21989925194:ios:331ca0a8af41f945e4a1b3</string>
</dict>
</plist>